body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2 {
    color: #ff0000;
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
td {
    background-color: #f9f9f9;
}